<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @criterium.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @criterium.Description %>
</p>

<%= link_to 'Edit', edit_criterium_path(@criterium) %> |
<%= link_to 'Back', criteria_path %>
