<%= form_with(model: faculty, local: true) do |form| %>
  <% if faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Lastname %>
    <%= form.text_field :Lastname %>
  </div>

  <div class="field">
    <%= form.label :Firstname %>
    <%= form.text_field :Firstname %>
  </div>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email %>
  </div>

  <div class="field">
    <%= form.label :Phone %>
    <%= form.text_field :Phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
