<%= form_with(model: coursefaculty, local: true) do |form| %>
  <% if coursefaculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursefaculty.errors.count, "error") %> prohibited this coursefaculty from being saved:</h2>

      <ul>
      <% coursefaculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.all, :id, :Number %>
  </div>

  <div class="field">
    <%= form.label :faculty_id %>
    <%= form.collection_select(:faculty_id, Faculty.all, :id, :full_name)
    %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
