
<div class="content">

<p id="notice"><%= notice %></p>

<h1>Course Faculties</h1>

  <table class="table table-bordered table-sm, table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Course</th>
      <th>Faculty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coursefaculties.each do |coursefaculty| %>
        <td><%= coursefaculty.course.Number %></td>
        <td><%= coursefaculty.faculty.full_name%>
        <td><%= link_to 'Show', coursefaculty %></td>
        <td><%= link_to 'Edit', edit_coursefaculty_path(coursefaculty) %></td>
        <td><%= link_to 'Destroy', coursefaculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Faculty', new_coursefaculty_path %>
</div>