<p id="notice"><%= notice %></p>

<h1>Course Evaluations</h1>
<table class="table table-bordered table-sm, table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Criteria Threshold</th>
      <th>Course</th>
      <th>Faculty</th>
      <th>Criterion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courseevaluations.each do |courseevaluation| %>
      <tr>
        <td><%= courseevaluation.course.Number %> <%=courseevaluation.course.Name %></td>
        <td><%= courseevaluation.faculty.Firstname %>, <%=courseevaluation.faculty.Lastname %></td>
        <td><%= courseevaluation.criterion.Title %></td>
        <td><%= courseevaluation.criteriathreshold %></td>
        <td><%= link_to 'Show', courseevaluation %></td>
        <td><%= link_to 'Edit', edit_courseevaluation_path(courseevaluation) %></td>
        <td><%= link_to 'Destroy', courseevaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Evaluation', new_courseevaluation_path %>
