<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @criterion.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @criterion.Description %>
</p>

<%= link_to 'Edit', edit_criterion_path(@criterion) %> |
<%= link_to 'Back', criterions_path %>
