<%= form_with(model: coursecriterion, local: true) do |form| %>
  <% if coursecriterion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursecriterion.errors.count, "error") %> prohibited this coursecriterion from being saved:</h2>

      <ul>
      <% coursecriterion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.all, :id, :Number %>
  </div>

  <div class="field">
    <%= form.label :criterion_id %>
    <%= form.collection_select :criterion_id, Criterion.all, :id, :Title %>
  </div>

  <div class="field">
    <%= form.label :Exceed %>
    <%= form.number_field :Exceed %>
  </div>

  <div class="field">
    <%= form.label :Accept %>
    <%= form.number_field :Accept %>
  </div>

  <div class="field">
    <%= form.label :Poor %>
    <%= form.number_field :Poor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
